@model IList<Issues.Models.IssueDto>

@{
    ViewBag.Title = "Home Page";
}

<h1 id="main-header"></h1>
<div class="row" id="issues"></div>

@section Scripts {
	<script src="/js/milestone.js"></script>
}